body{
    background-image: url("../images/Charlotte-Skyline.jpg");
    background-size: 100%;
}

.nav-wrapper{
    background-color: black;
    opacity: 0.9;    
}

.carousel .carousel-item {
    width:500px;
    position: absolute;
    top: -75px;
    left: 0;
    font-size: 24px;
    color: black;
    text-align: center;
}

.dropdown-trigger {
    font-weight: 500;
    font-size: larger;
}

.page-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
