.nav-wrapper{
    background-color: black;
    opacity: 0.9;    
}

#commentsList {
    border-collapse: collapse;
    width: 70%;
    margin-left: 15%;
    margin-right: 5%;
}

p {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

p:hover {background-color:#f5f5f5;}

h1 {
    text-align: center;
}